$primary: rgb(92, 30, 1);

body {
  margin: 0;
  padding: 20px 40px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100vh;

  #root {
    height: 100%;

    .page-wrapper {
      min-height: calc(100vh - 150px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .site-max-width {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }

    // footer {
    //   position: fixed;
    //   bottom: 0px;
    //   padding-bottom: 20px;
    //   width: calc(100% - 80px);

    //   @media (max-width: 480px) {
    //     position: static;
    //     width: calc(100% - 10px);
    //   }
    // }
  }

  @media (max-width: 480px) {
    padding: 20px;
  }
}

body:after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url("./assets/background-books-small2.jpg");
  background-size: cover;
  opacity: 0.35;
  z-index: -5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
