$primary: rgb(92, 30, 1);

body {
  margin: 0;
  padding: 20px 40px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

  @media (max-width: 480px) {
    padding: 20px;
  }
}

body:after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url("./assets/background-books-small2.jpg");
  background-size: cover;
  opacity: 0.35;
  z-index: -5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
